.news-and-articles {

    .container {
        margin-bottom: 100px;

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 30px;
            padding-top: 150px;
            padding-bottom: 20px;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }

            @media (min-width: 1400px) {
                font-size: 45px;
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr;

            @media (min-width: 992px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                row-gap: 50px;
                column-gap: 20px;
            }


            a{
                color: black;
                text-decoration: none;
            }

            h3 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 400;
                font-size: 22px;
                padding-bottom: 15px;
                padding-top: 15px;
            }

            h5 {
                padding-bottom: 10px;
            }

            p {
                padding-bottom: 15px;
            }

            .article-news-content {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 5px;
                margin-bottom: 10px;
                position: relative;
                z-index: 0;
                

                @media (min-width: 992px) {
                    padding: 10px;
                    height: 500px;
                    text-align: left;
                }

                @media (min-width:1200px) {
                    height: 500px;
                }

                transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
                box-shadow: 7px 7px 7px 2px #8a898986;

                &:hover {
                    box-shadow: 3px 3px 3px 2px #8a898986;
                }
            } 
            
            img {
                width: 100%;
                height: 300px;

                @media(min-width: 576px) {
                    width: 100%;
                    height: 400px;
                }

                @media(min-width: 992px) {
                    width: 100%;
                    height: 200px;
                }

                @media(min-width: 1200px) {
                    width: 100%;
                    height: 250px;
                }
            }

        }

        .img_pag {
            display: none;

            @media(min-width: 1200px) {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }
    }
}