.news-and-articles-detail {

    background-color: #F0EFE9;
    padding-bottom: 100px;

    .container {

        .article-news-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            @media (min-width: 1200px) {
                flex-direction: row;
            }
            
            .btn-transparent {
                margin-top: 20px;
                margin-bottom: 90px;

                @media (min-width: 576px) {
                    margin-bottom: 10px;
                }

                @media (min-width: 1200px) {
                    padding: 12px 9px;
                    margin-top: 120px;
                    margin-right: 10px;
                }
            }


            .section-title {
                padding-bottom: 30px;
                @media (min-width: 1200px) {
                    margin-left: 10px;
                }
            }

        }

        .article-news-content {
            display: none;
      
            @media (min-width: 576px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            @media (min-width: 992px) {
                flex-direction: row;
            }

            .article-content {
                width: 100%;
                margin-right: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
                padding: 5px;
                transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
                box-shadow: 7px 7px 7px 2px #8a898986;
    
                &:hover {
                    box-shadow: 3px 3px 3px 2px #8a898986;
                }
    
                a {
                    text-decoration: none;
                    color: #191919;
                } 

                .img-fluid {
                    width: 100%;
                    height: 400px;
                    padding-bottom: 10px;

                    @media (min-width: 992px) {
                        height: 300px;
                    }

                    @media (min-width: 1200px) {
                        
                    }

                    @media (min-width: 992px) {
                        
                    }
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    padding-bottom: 15px;
    
                    @media (min-width: 768px) {
                        font-size: 22px;
                    }
    
                }   
            }

        }

        .img_dot {
            display: none;

            @media(min-width: 1200px) {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 50px;
                padding-bottom: 50px;
            }

        }

    }
}